
@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    9 de Julio 142<br />
    Lobos, Buenos Aires, Argentina<br />
    <abbr title="Phone">P:</abbr>
    2227-431228
</address>