@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cine Teatro Italiano Web</h1>
    <p class="lead">Cine Teatro Italiano de Lobos</p>
</div>
<div class="table-bordered" >
    <img src="~/Content/Imagenes/Home/descarga.png" class="center-block" width="1000" />
</div>